<div class="container" style="margin-top: 15px;">
    <div class="row">
        <div class="col-12 text-center">
           <h5>Add New User</h5>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class=" col-sm-12">
            <div class="card shadow"> 
                <div class="card-body">
                    <form novalidate>
                        <div class="mb-3">
                            <label for="fullname" class="form-label">First Name</label>
                            <input type="text" class="form-control" name="strFirstName" #strFirstName="ngModel" [(ngModel)]="User.strFirstName"
                                placeholder="First Name" required />
                        </div>
                        <div class="mb-3">
                            <label for="Last Name" class="form-label">Last Name</label>
                            <input type="text" class="form-control" name="strLastName" #strLastName="ngModel" [(ngModel)]="User.strLastName"
                                placeholder="Last Name" required />
                        </div>
                        <div class="mb-3">
                            <label for="strEmail" class="form-label">Email</label>
                            <input type="email" class="form-control" name="strEmail" #strEmail="ngModel" [(ngModel)]="User.strEmail"
                                placeholder="Email" required />
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" name="strPassword" #strPassword="ngModel" [(ngModel)]="User.strPassword" placeholder="password"
                                required />
                        </div>
                        <div class="mb-3">
                            <label for="strUserRole" class="form-label">Role</label>
                            <select class="form-control" name="strUserRole" #strUserRole="ngModel" [(ngModel)]="User.strUserRole">
                                <option value="user">user</option>
                                <option value="Administrator">Administrator</option>
                              </select>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-2">
                                <input type="button" value="Save" class="btn btn-secondary" (click)="newUser()" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

